{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>


  {# {% if hasWon %}
        <div class="alert alert-success">
            ¡Felicidades! Has ganado al menos un sorteo.
        </div>
    {% else %}
        <div class="alert alert-danger">
            Aún no has ganado ningún sorteo.
        </div>
    {% endif %} #}
 {% if hasWon %}
        {% for apuesta in hasWon %}
            <p>Sorteo: {{ apuesta.sorteo.name }}, Número Ganador: {{ apuesta.numeroLoteria.numero }}</p>
            <p>Premio Ganado: {{ apuesta.sorteo.prize }} <a href="{{ path('app_user_cashwon', {'id': apuesta.user.id, 'prize': apuesta.sorteo.prize})}}" class="btn btn-warning">Cobrar</a></p>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger">
            Aún no has ganado ningún sorteo.
        </div>
    {% endif %}



    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
